<%= render 'layouts/sidebar_main' %>

<div class="page-header">
    <h2><%= t "sign_up.edit.title", model: resource_name.to_s.humanize.constantize.model_name.human %></h2>
</div>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :fullname, required: false, autofocus: true %>
    <%= f.input :slug, required: false %>

    <%= f.input :email, required: true %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>

    <%= f.input :password, autocomplete: "off", hint: t(:password_blank), required: false %>
    <%= f.input :password_confirmation, required: false %>
    <%= f.input :current_password, hint: t(:current_password_required), required: true %>

    <div class="form-group user-date-audit">
      <label class="control-label">
        <%= t 'sign_up.edit.date-audit.title' %>
      </label>
      <ul class="nav">
        <li><%= fa_icon 'calendar'%> <%= t('sign_up.edit.date-audit.created', time: time_ago_in_words(resource.created_at)) %>.</li>
        <li><%= fa_icon 'bolt'%> <%= t('sign_up.edit.date-audit.updated', time: time_ago_in_words(resource.updated_at)) %>.</li>
      </ul>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, t("sign_up.submit.edit") %>
  </div>
<% end %>

<h3><%= t "sign_up.cancel_account.title" %></h3>

<p><%= t "sign_up.cancel_account.question" %>
<%= link_to t("sign_up.cancel_account.title"), 
    registration_path(resource_name), 
    data: { confirm: t("sign_up.cancel_account.confirm") }, method: :delete %>
</p>
