<div role="tabpanel" class="backend-crud-tabs">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
              <%= fa_icon 'star' %>
                <span><%= t 'crud.tabs.general' %></span>
            </a>
        </li>
        <li role="presentation">
            <a href="#media" aria-controls="media" role="tab" data-toggle="tab">
              <%= fa_icon 'photo' %>
              <span><%= t 'crud.tabs.media' %></span>
            </a>
        </li>
        <li role="presentation">
            <a href="#roles" aria-controls="roles" role="tab" data-toggle="tab">
              <%= fa_icon 'group' %>
              <span><%= t 'crud.tabs.roles' %></span>
            </a>
        </li>
        <li role="presentation">
            <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                <%= fa_icon 'list' %>
                <span><%= t 'crud.tabs.profile' %></span>
            </a>
        </li>
        <% unless @user.created_at.blank? %>
        <li role="presentation">
            <a href="#date-audit" aria-controls="date-audit" role="tab" data-toggle="tab">
                <%= fa_icon 'calendar-o' %>
                <span><%= t 'crud.tabs.date-audit.title' %></span>
            </a>
        </li>
        <% end %>
    </ul>

    <%= simple_form_for(@user, html: { class: 'user_crud dropzone', multipart: true }) do |f| %>
        <%= f.error_notification %>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">

                <div class="form-inputs">
                    <%= f.input :fullname, required: false, autofocus: true %>
                    <%= f.input :slug %>
                    <%= f.input :email, required: true %>
                    <%= f.input :password, autocomplete: "off", hint: t(:password_blank), required: false %>
                    <%= f.input :password_confirmation, required: false %>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="media">
                <div class="form-inputs">
                    <%= f.attachment_field :avatar, direct: true, type: :hidden %>

                    <% unless @user.avatar.blank? %>
                    <div class="avatar-previews">
                      <%= attachment_image_tag(@user, :avatar, :fill, 100, 100) %>
                    </div>
                    <% end %>

                    <div class="dropzone-previews"></div>

                    <%= f.input :remote_avatar_url, label: t('crud.tabs-content.media.input.text') %>

                    <% unless @user.avatar.blank? %>
                    <%= f.check_box :remove_avatar %>
                    <%= f.label :remove_avatar %>
                    <% end %>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="roles">
                <div class="form-inputs">
                    <%= f.association :roles, as: :check_boxes, label: false %>
                </div>
            </div>

            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="form-inputs">
                    <%= render "users/profile", form: f, resource: @user %>
                </div>
            </div>

            <% unless @user.created_at.blank? %>
            <div role="tabpanel" class="tab-pane" id="date-audit">
                <div class="form-inputs">
                  <ul class="nav">
                    <li>
                      <%= fa_icon 'calendar'%>
                      <%= t('crud.tabs.date-audit.created', time: time_ago_in_words(@user.created_at)) %>.
                    </li>
                    <li>
                      <%= fa_icon 'bolt'%>
                      <%= t('crud.tabs.date-audit.updated', time: time_ago_in_words(@user.updated_at)) %>.
                    </li>
                  </ul>
                </div>
            </div>
            <% end %>

            <div class="label label-default form-actions-header">
              <%= fa_icon "navicon" %><%= t 'crud.column.actions' %>
            </div>
            <div class="form-actions">
                <%= button_tag(type: 'submit', class: "btn-custom btn-default") do %>
                    <span class="btn-pre"><%= fa_icon "pencil" %></span>
                    <span class="btn-content"><%= t("sign_up.submit.edit") %></span>
                <% end %>
            </div>
        </div>

    <% end %>
</div>
