<% content_for :body_class, "backend-users-show-page" %>

<%= render 'layouts/sidebar_main' %>

<div class="page-header">
  <h2><%= fa_icon 'dot-circle-o' %> <%= t "crud.show.title", model: User.model_name.human.pluralize %></h2>
</div>

<h4 class="page-header"><%= t 'crud.tabs.general' %></h4>
<dl class="dl-horizontal">
  <dt><%= User.human_attribute_name(:fullname) %></dt>
  <dd><%= @user.fullname %></dd>
  <dt><%= User.human_attribute_name(:slug) %></dt>
  <dd><%= @user.slug %></dd>
  <dt><%= User.human_attribute_name(:email) %></dt>
  <dd><%= @user.email %></dd>
</dl>

<h4 class="page-header"><%= t 'crud.tabs.roles' %></h4>
<dl class="dl-horizontal">
  <dt><%= User.human_attribute_name(:roles) %></dt>
  <dd><%= @user.roles.join ', ' %></dd>
</dl>

<h4 class="page-header"><%= t 'crud.tabs.profile' %></h4>
<dl class="dl-horizontal">
  <dt><%= User.human_attribute_name('user_profile.first_name') %></dt>
  <dd><%= @user.profile.first_name %></dd>
  <dt><%= User.human_attribute_name('user_profile.last_name') %></dt>
  <dd><%= @user.profile.last_name %></dd>
  <dt><%= User.human_attribute_name('user_profile.website') %></dt>
  <dd><%= @user.profile.website %></dd>
  <dt><%= User.human_attribute_name('user_profile.twitter') %></dt>
  <dd><%= @user.profile.twitter %></dd>
  <dt><%= User.human_attribute_name('user_profile.facebook') %></dt>
  <dd><%= @user.profile.facebook %></dd>
  <dt><%= User.human_attribute_name('user_profile.google') %></dt>
  <dd><%= @user.profile.google %></dd>
  <dt><%= User.human_attribute_name('user_profile.phone') %></dt>
  <dd><%= @user.profile.phone %></dd>
</dl>

<h4 class="page-header"><%= t 'crud.tabs.date-audit.title' %></h4>
<dl class="dl-horizontal">
  <dt><%= fa_icon 'calendar' %></dt>
  <dd><%= t 'crud.tabs.date-audit.created', time: time_ago_in_words(@user.created_at) %></dd>
  <dt><%= fa_icon 'bolt' %></dt>
  <dd><%= t 'crud.tabs.date-audit.updated', time: time_ago_in_words(@user.updated_at) %></dd>
</dl>

<div class="form-links">
  <%= link_to fa_icon('edit') + t('crud.link.edit'), edit_user_path, class: 'label label-info' %>
  <%= link_to fa_icon('chevron-left') + t('crud.link.back'), users_path, class: 'label label-primary' %>
</div>
