<div class="info">
    <div class="info-text">
        <%= raw t('frontend.app.info.message') %>
    </div>
    <div class="info-social">
        <%= link_to fa_icon('twitter'), 'http://google.com' %>
        <%= link_to fa_icon('facebook'), 'http://google.com' %>
        <%= link_to fa_icon('linkedin'), 'http://google.com' %>
        <%= link_to fa_icon('google-plus'), 'http://google.com' %>
    </div>
</div>
