<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a href="<%= locale_root_path %>" class="logo"><%= fa_icon "cloud lg" %></a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
        <nav role="navigation">
            <ul id="js-navigation-menu" class="navigation-menu show">
                <%= render 'layouts/frontend/navigation_links' %>
            </ul>
        </nav>
        <div class="navigation-tools">
            <div class="search-bar">
                <form role="search">
                    <input type="search" placeholder="<%= t("frontend.nav.search.placeholder") %>" />
                    <button type="submit">
                        <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png" alt="Search Icon">
                    </button>
                </form>
            </div>
            <%= render 'layouts/frontend/user_navigation_links' %>
            <%= render 'layouts/frontend/language_navigation_links' %>
        </div>
    </div>
</header>

