<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : t("backend.app.title") %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t("backend.app.title") %>">

        <%= include_gon %>

        <%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <%= javascript_tag do %>
            I18n.defaultLocale = gon.default_locale;
            I18n.locale        = gon.locale;
            I18n.full_locale   = gon.full_locale;
        <% end %>
    </head>
    <body class="<%= yield (:body_class) %>">
        <header>
            <%= render 'layouts/backend/navigation' %>
        </header>

        <div class="wrapper">
            <div class="sidebar">
                <%= yield(:sidebar) %>
            </div>

            <div class="clearfix"></div>

            <div class="content">
                <%= render 'layouts/backend/messages' %>
                <div class="main-content">
                    <%= yield %>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <footer>
            <p>Copyright @ 2.014 - Julio Antúnez Tarín</p>
        </footer>
    </body>
</html>
