<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : "Napp" %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Napp" %>">
        <%= stylesheet_link_tag 'backend', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'backend', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <header>
            <%= render 'layouts/backend_navigation' %>
        </header>

        <div class="wrapper">
            <div class="sidebar">
                <%= yield(:sidebar) %>
            </div>

            <div class="clearfix"></div>

            <div class="content">
                <%= render 'layouts/messages' %>
                <div class="main-content">
                    <%= yield %>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <footer>
            <p>Copyright @ 2.014 - Julio Antúnez Tarín</p>
        </footer>
    </body>
</html>
