<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title><%= content_for?(:title) ? yield(:title) : t("frontend.app.title") %></title>
        <meta name="description" content="<%= content_for?(:description) ? yield(:description) : t("frontend.app.title") %>">

        <%= typekit %>
        <%= include_gon %>

        <%= stylesheet_link_tag 'frontend', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'frontend', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>

        <%= javascript_tag do %>
            I18n.defaultLocale = gon.default_locale;
            I18n.locale        = gon.locale;
            I18n.full_locale   = gon.full_locale;
        <% end %>
    </head>
    <body class="<%= yield (:body_class) %>">
        <header class="top">
            <%= render 'layouts/frontend/navigation' %>
        </header>

        <%= render 'layouts/frontend/messages' %>

        <section class="wrapper">
          <div class="data">
            <%= yield %>
          </div>
        </section>

        <footer class="bottom">
            <p>Copyright @ 2.014 - Julio Antúnez Tarín</p>
        </footer>
    </body>
</html>
